@charset "UTF-8";
/*
Theme Name: Doris
Theme URI: https://bitbucket.org/holyzfy/doris
Author: Zhao Fuyun
Author URI: https://github.com/holyzfy
Description: Doris花艺网站
Version: 1.0
*/
/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {
  font-family: "Cochin LT Std";
  src: url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.woff") format("woff"), url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.svg#Cochin LT Std") format("svg");
  /* iOS 4.1- */
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 13px/1.5 'Heiti SC', 'Microsoft Yahei', '宋体', sans-serif;
}

body, a {
  color: #595757;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

address, cite, em, b, i {
  font-style: normal;
}

small {
  font-size: 12px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  box-sizing: border-box;
  font-size: 100%;
}

button {
  cursor: pointer;
  outline: 0;
}

select {
  background: none;
}

input, textarea {
  background-color: #fff;
  outline: 0;
}

input[type='file'] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  font-weight: normal;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.pull_left {
  float: left;
}

.pull_right {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

[class^=col_] {
  float: left;
  box-sizing: border-box;
}

.col_1 {
  width: 8.33333%;
}

.col_2 {
  width: 16.66667%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.33333%;
}

.col_5 {
  width: 41.66667%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.33333%;
}

.col_8 {
  width: 66.66667%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.33333%;
}

.col_11 {
  width: 91.66667%;
}

.col_12 {
  width: 100%;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

.content {
  color: #595757;
  line-height: 1.6;
}
.content h1, .content h2, .content h3 {
  margin: 1em 0;
  font-size: 1em;
  font-weight: normal;
}
.content p {
  margin: 1em 0;
}

body {
  width: 820px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 350px;
  height: 60px;
  margin: 50px auto;
  background: url(images/logo.png) no-repeat center center;
  font-size: 0;
}

.nav {
  position: relative;
  z-index: 20;
}
.nav:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  width: 100%;
  border-top: 1px solid #ddd;
}

.nav_bd {
  margin: 0 auto;
  text-align: center;
}
.nav_bd > li {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
  color: #999;
  line-height: 2;
}
.nav_bd > li + li {
  margin-left: 4%;
}
.nav_bd > li > a {
  display: block;
  color: #999;
  letter-spacing: 2px;
}
.nav_bd > li > a:first-child {
  font-family: 'Cochin LT Std';
}
.nav_bd > li:hover .sub-menu {
  display: block;
}
.nav_bd .current-menu-item > a {
  color: #000;
}

.sub-menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 80px;
  width: 150px;
  margin-left: -75px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  line-height: normal;
}
.sub-menu li {
  padding: 5px 0;
}
.sub-menu a {
  display: block;
}
.sub-menu a:hover {
  color: #000;
}

.cover img {
  width: 820px;
  height: auto;
  vertical-align: middle;
}

.slider {
  margin: 0 auto;
}
@media (min-width: 1600px) {
  .slider {
    max-width: 1600px;
  }
}
.slider img {
  width: 100%;
  height: auto;
}

.slick-slide {
  outline: 0;
}

.slider_prev,
.slider_next {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: 0;
  margin-top: -30px;
  width: 50px;
  height: 60px;
  background: #b5b5b6 no-repeat center center;
  font-size: 0;
}

.slider_prev {
  left: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAYAAAC9BQwsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNpi/P//PwOJIA2I9RhAGknAXkD8FYivMJFgUxsQbwFiLiDeTowtakC8/z8EfAHiFLD3CGjyBeIXUE0PgNgaJodLAwsQd/9HgPlALIWsBpfTdkA1fALidGyGowtEAvFrqKbrQGyMyxswBjMQtyE5bTEQi+LzP4iwBeIjUA1PgTiRmDgFEVOQbNoKxJzEamQC4hCkYD8NxJbEaIRhTSQn/wLiVGI1MkCd2YMWf+zEaIThUCB+AtV8FhqARGkEYQUg3odkex6xGkGYDYh7kTTPBWIeYjQiO/0RktPNSMnEMkB8EKp5JyOJRQcnEE8EYm6AAAMA94EGK/vLMbkAAAAASUVORK5CYII=);
}

.slider_next {
  right: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAYAAAC9BQwsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPRJREFUeNqU0zFrwkAYgOHDSqXi6iIOToXOgiCSXQQ3HRwF227+DBd1cxNx6F+oaJeK0K24Ca4iCoKdxC4u5xu84CFqvhw82d7ky+WitNYdvEEF4V5m+EchSBhSSg0RxScaSrrMHWrY69Ma41kyqieHhYk3KEpDVwJ9fV5NhCWh5x07E4+ujX7vPdKYm3iLijR0xfFhjd7AgyT0VLE28Q8cafiEgfXkjiTK4tf6TCWE/KJXHKwRX/w2J3LxPVtm3Lu76mBqghXKkgNQt57yjZTfkYuhZ0VtPPqd1Yw12vLWaNfCLxNNkAzyI/+hizxW0v/4KMAA1gAse5VnxckAAAAASUVORK5CYII=);
}

.slider_nav {
  margin-top: 40px;
}
.slider_nav .slick-slide {
  position: relative;
  opacity: 0.6;
}
.slider_nav .slick-current {
  z-index: 10;
  opacity: 1;
}

.title {
  margin: 30px 0;
  text-align: center;
  letter-spacing: 2px;
}
.title span {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 10px 2px 10px;
  border-bottom: 1px solid #ddd;
  font-family: 'Cochin LT Std';
}
.title span:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 40px;
  height: 3px;
  margin-left: -20px;
  background: #ddd;
}
.title em {
  display: block;
}

.content {
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .content {
    padding: 0 10px;
  }
}

.gallery_grid_sizer {
  width: 48%;
}

.gallery_gutter_sizer {
  width: 4%;
}

.gallery_item {
  box-sizing: border-box;
  width: 48%;
  margin-bottom: 80px;
  line-height: 1.6;
}
.gallery_item h3 {
  margin: 30px 0;
  font-weight: normal;
  font-family: 'Cochin LT Std';
  font-size: 18px;
}
.gallery_item p {
  font-size: 13px;
}
.gallery_item img {
  display: block;
}
@media (max-width: 1600px) {
  .gallery_item img {
    width: 100%;
    height: auto;
  }
}

.footer {
  margin-top: 100px;
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: right;
}

.footer_bd {
  font-size: 0;
}
.footer_bd a, .footer_bd span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer_qq {
  background-image: url(images/qq.svg);
}

.footer_wechat {
  position: relative;
  background-image: url(images/wechat.svg);
}
.footer_wechat img {
  display: none;
  position: absolute;
  left: -200px;
  bottom: 50px;
}
.footer_wechat:hover img {
  display: block;
}

.footer_mail {
  background-image: url(images/mail.svg);
}

.post_contact .content {
  position: relative;
}
.post_contact .content img {
  width: 100%;
  height: auto;
}

.contact {
  position: absolute;
  right: 20px;
  top: 20px;
  box-sizing: border-box;
  width: 350px;
  padding: 20px;
  background: #b5b5b6;
}
.contact, .contact a {
  color: #fff;
}
.contact li {
  padding-left: 30px;
  background: no-repeat left center;
}
.contact li + li {
  margin-top: 10px;
}
.contact .contact_address {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAUCAYAAABWMrcvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWBJREFUeNqU0k8rRFEYx/G5d2pq0pjxJysWlJVSDAtegJIlKQsUWbLhrdhOMxZWeAWyEaXsJmpSLIwyI5Pk32K4vg+/q2vMncmpT809z/OcOec8x/E8LxIYg5jHGDpwhyNkUfjJsiJZwZP3PQo4xoW+K5jzc4MFNq4UTGo+hUXcKD7tF/WjqMBQ4J+DRnCPM7TbxIZWWQ0p8K0rb9nlWMMoYz/SeFj8EWkrSuIZD02KyspJufrRouJGo8sKULGiU01MNCmyeOtXPgfrwyWukQ65hFGUkEenP7mmm7HJhUCf2rCEc1TVs4ijZ2R73dFNvqHoHxrdOvMBZvDuar+WsI0qStp7LxJ6fy/YsgJLdgIPNo49DKjQwQd6cIhZP9EN3M6rVoshqrmYVs/8useaW4piV+/wBLfI1t6mW9MLWzWnbSV0lsyfjoX0JacWbNaLhxVNaWvj/ymypk4iXi/+KcAAEjLb4htbTvAAAAAASUVORK5CYII=);
  background-position: 3px center;
}
.contact .contact_site {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiNJREFUeNqE1U9IFkEYx/F3VcwkkLQ/HoqyCCPJBBELCzsWHYxCLx2iQ5egQ4fAiwUeLDzlJcqDKBSBEB0C6SARQqjlwSJKMi0lkcpXFM3IN337PvXbGIbdbeCzvDs78+zMszPzBtlsNhVTDuAo9mEz1jGHSTzDh8heFtCzF3fxHvP4giksZP+WVYyhG8V+/xwv/in0oQmrGs0UrN0YLuMYLqAYr1ETN8IGZPAJQxjGNH6gFzsiZnMdS6gM6wLl0PL0GPdxBhuUs17kowfjMbm+hvM4hOXwTX24rd8Xsag316guiBidawDtfwbHpQrjKHUatCnxszFT9dXhDYrsza0MtQJnvals1XRs6p0oQgZv8T1i6k9xJ4/LQYxENPimr3oEl9CIFbxDB5547T+i2pZDIWZT8WUa+7GIeZTjAW4hz2n3FdssYOA98IuNrE7BbPpprc3T6Mc5tbNn6xZwAWUJAe9pq+3GmgaQUUrqsUftdmLGAr5EbUJA279XNapCp347BnBD95aWQfvkZfis5ZO0NGoxgRFMIo3jetaoZVMQNu7C8/8EPKyAMxjFCeeZ1V8JF3ZKp4adKjcTAjbrtLFg5U79QwyG926HavxER0SwHB0YdnDsUt1GPNIBUhoVMAxqZ98rNFlOVL8JLShx9rvl8YW3Zf+dNm4pQJvW2ZK+7pwW9hZUIRfdaPc7Bwl/AbZ3T6ISJTpw09qmtu1+RXX6LcAA7humbGV+f0cAAAAASUVORK5CYII=);
}
.contact .contact_tel {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXFJREFUeNqk1M8rBGEcx/GZsbEb2U1LpBAlpdxcRCnluKHkD+DixEVydHJTapOc/AfKpvZC9qxIbLTJYduL9aO1QjnseD/12Zqk3cx863XYebbPPM/M9zu267oW1Y1ljOIQe5bfIjCCNCp4xzWi5kZ+OGTOYAKXuEMXEn436OiYX6jo2gfmggS2KtCWF91k0m9gGY3mceraN5ox7zcwp0BbxzY7/kTaT2AIpygirEATvIpUkB2eoRMN2t1xkJdiakdv11QHtoI0dtUa3nCBIpb8NLb3RwgphZlpKWA6SKDRg3OF3SKHRJBAYwg3yCvUhK941sNI4ggLiNULNEaQVdgVnrGLceyjpLVHZLChjVi2Pl9/1TAO0Ic82tSnRkn/MT0bQ1STtu7UaIAsZtWj/RrJslTn3lL4A+IYcOp0VUEzvamd9aJFA2B55j+uD8xJrSP/rkEsYkpf+Ihn7RVJbP8nsFrtGNNjaMITMrg3iz8CDAB2d8PTq330bgAAAABJRU5ErkJggg==);
}
.contact .contact_qq {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAUCAYAAABroNZJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUVJREFUeNqc1LtKA0EYhuHJoqJiAgHBAwrGWElAxAM2UQvBSkEQW4N34S14D4rWYi/YpbLQQohiY2VAg1p4QAvB8f3lH1mHSGb3gycJuztfZpOZzVhrjZciNrGKET1WxzH2cOUPMFISM41z+39qKHtj/pQUcGFb5xKlZiURdmx4DpqVFHGdoOQG464k0p+mH30mPN065ieupCP2OSQZdPolBXQlKJFZb7giVzKIdpMsC+6WIh08bJLnFneuZBErKUp63J8hJRUMpCiZxJYrKZv0WUJeSvJ64Eu2UsIS2aBDbbyc4AklzAUOPsUHcviUZdury3cdLwFLvo5lZDGPnMzkUdsbeEW2xSzkmgd9r8afJ2u6qUJzprP43YCyD2Yw6n3jOw6xj3vv3BRm/SfbBI7wjDd9OG3L/er5CqpoqF2MuZl8CzAAYfPJyteghBQAAAAASUVORK5CYII=);
}
.contact .contact_weixin {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAYAAACXtf2DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfRJREFUeNqk1M9rE0EUwPHddPUgNYhKsbaIoKcWAooUAtpL9GpaqX+AP045CIXQGvHUk6c0FFrwUoq39tBiLxUUWpJDQGIRD1HBX2iMBCOSxhClIfE78BaGIclu9MGH3R12dmZn3jy71WpZRpzENVxBCP2w8RvvkMZjvLD8hBpAE0a25R1F3Db6tqU/XJaOfqOBuN8BhpDXOq/iHl5pbd+RQlLuVdQw4WeAOe1DdYSkPam1Z+DgIHJa+w4CnQZw2IYBRLVtUW1TGJRN1jf/Fo7hDCrYQx2n8aHdHtuMco7rExnIjX38wSEEjD4/sI0ijuIIvmAXOby0jNk6koZ6HBBm5PFMPhyW63EclkkVZbIP8NlN01N46yNrniOBNR/vpjGi9kD9fkEOT7dQy7KFUVyX2T00liODJZRwCYs44e72efzsMqNNzKMizynpd1d756a0rWht990NVBuUQKPdYcdHnEVQ2i5gGhHtPZWJcSPzJs28jaHc5g8eSb73GiUzBTfQlPv3KMuz0yGrvKLqGA0XUcM6ljEsB+w1Yv8wQFZfnj5EcFXKgbl8UfzqYXm+YtwcwPaojrNo+vh4wS3nlp+abriDNx4DzOjFrtdYwFM5cGNSi1TB+yRFT6VpVS921n9EUOqRKozfpNLekPOkTnr9rwADAIhLmgGWOfQpAAAAAElFTkSuQmCC);
}
.contact .contact_weibo {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiBJREFUeNqU1U9IVFEUx3HHJKk0y4JAQiaifxgMUUELFy0qCNwJzQxRZLUZIleCBG0sijBQgmghMQT9oQwNQsiIhCgLKmYWDVQiRAihaWKLkYrs9T3xe3C5PXO68OE97/Ode+85796JBUFQFtF2IoW9WIsK9X/DCAbRh7d/vWkBHbXoRDEorZ1BjRvDDRbH0wUC/MQrdCGLcdzBGj/gSgyXMKMvOICNqMMKXMFNlLsBuyNensYgejGpvjl8wmvk0ILFCtoaBtwVEewJtjnp6HCezeIw2vADR7ADBZu5VS/p1SmLE6po2J6jgGFM4The4CqaMIQlOGqj553Rr3tVN4si+jqVzxu4jPWa+XubYVyzyOGY7uuwD1uxHON4gJeYQx61OIiHSGuG9WXO59Co0Zsxo/4hPHZWYMXYpIq2KodhsawVw4AFBdutv79infqqkdKggb7DcOntXjGL5VrimK4durbpakvZgNsYUJ+lYZnu/a03awEnsAWVGNWDKu3VpHJrARJ6dg9F3bd4Ad/YtC9puue1/Z7hETLYjs24pf+56yz3ZMT3m7EHCSep59CgqwW5pqIMIKlAq9ETEczqUB3T8XUWp528vMMH5XZaS7Q07MF+rPIPLTT/SYdGXap967YJfMQoxvD9H4fGhajjy5ZyP/i/9gsX5zsPTSVO6Zxb6Fy0maf9bRmb5yfAvr1D2vhx7yfADol+9OKz/+JvAQYACJvfcCA8CD0AAAAASUVORK5CYII=);
  background-position: 2px center;
}
