/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Cochin LT Std";
    src: url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/3770d4f036d8ea6437f931eae4d145e3.svg#Cochin LT Std") format("svg"); /* iOS 4.1- */
}