/*
 * This theme styles the visual editor to resemble the theme style,
 * specifically font, colors, icons, and column width.
 */
.mce-content-body {
  color: #595757;
  line-height: 1.6;
}
.mce-content-body h1, .mce-content-body h2, .mce-content-body h3 {
  margin: 1em 0;
  font-size: 1em;
  font-weight: normal;
}
.mce-content-body p {
  margin: 1em 0;
}

.mce-content-body {
  font-size: 13px;
}
